html{
	background-color: lightgrey;
	margin: 0 auto;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}
.home{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.navigation{
	position: relative;
	display: flex;
	flex: 0 1 60px;
	background-color: black;
}
.navbar{
	padding: 0;
	margin: auto;
	list-style: none;
}
.navbar .navitem{
	display: inline-block;
	color: white;
}
.navbar .navitem a{
	padding: 21px 30px;
	color: white;
	text-decoration: none;
	font-weight: 300;
}
.navbar .navitem a:hover{
	transition: .25s;
	color: #0698FF;
}
.navbar .navitem a:not(hover){
	transition: .25s;
}
.tect{
	color: #0698FF;
}
.black_tect{
	color: black;
}
.title{
	position: relative;
	display: flex;
	flex: 1 1 auto;
	width: 100%;
	background-color: white;
}
.title_contents{
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 40vh;
	height: 50vh;
}
.title_contents img{
	width: 80%;
	height: auto;
	margin: auto;
	padding: 0;
}
.title_contents h1{
	margin: 13px auto;
	text-align: center;
	font-weight: 300;
	font-size: 10vh;
}
.parallax_content{
	position: relative;
	display: flex;
	width: 100%;
	height: 400px;
	background-origin: content-box;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.parallax_header{
	margin: auto;
	color: white;
	font-size: 60px;
	font-weight: 300;
	z-index: 2;
}
.parallax_content:hover .coming_soon{
	transition: .5s;
	height: 100%;
}
.parallax_content:not(hover) .coming_soon{
	transition: .5s;
}
.coming_soon{
	position: absolute;
	display: flex;
	width: 100%;
	height: 0%;
	background-color: black;
	overflow: hidden;
	z-index: 3;
	color: white;
}
.coming_soon_h1{
	margin: auto;
	font-size: 60px;
	font-weight: 300;
}
.overlay_div{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.35);
}
.about{
	width: 100%;
	height: auto;
}
.about_content{
	position: relative;
	display: flex;
	width: 100%;
}
#about_container{
	flex-direction: column;
	height: auto;
	min-height: 700px;
	background-color: white;
}
.ac_content{
	position: relative;
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 600px;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}
.about_bt{
	position: relative;
	display: flex;
	height: auto;
	-webkit-flex-flow: row wrap;
	min-height: 800px;
	width: 100%;
	margin: 50px 0;
	/*background-color: grey;*/
}

.about_footer{
	position: relative;
	display: flex;
	flex-direction: row;
	height: auto;
	min-height: 100px;
	background-color: black;
	bottom: 0;
}
.af_box{
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 80px;
	padding: 20px 0;
	margin: auto;
	color: white;
}
.af_box h1{
	font-weight: 400;
	margin: auto;
}
#about_parallax{
	background-image: url(../images/Work1.JPG);
}
.about_h1_link{
	text-decoration: none;
}
.about_h1_link:hover{
	transition: .25s;
	color: black;
}
.about_h1_link:not(hover){
	transition: .25s;
}
#portfolio_parallax{
	background-image: url(../images/Work4.JPG);
}
.portfolio_content{
	position: relative;
	display: flex;
	width: 100%;
}
#portfolio_container{
	flex-direction: column;
	height: auto;
	min-height: 700px;
	background-color: white;
}
.portfolio_navigation{
	position: relative;
	height: 60px;
	background-color: black;
	width: 100%;
}
.pn_nav{
	list-style: none;
	color: white;
	margin: 0;
	padding: 0;
}
.pn_nav_item{
	display: inline-block;
	padding: 18px 0px 18px 16px;
}
.pn_button{
	border: none;
	color: white;
	background-color: black;
	outline: none;
	font-weight: 300;
	font-size: 15px;
	transition: .25s;
}
#pn_search{
	width: 0px;
	background-color: black;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: 300;
	transition: .25s;
}
.pn_button:focus{
	color: #0698FF;
}
#pn_search_button:focus + #pn_search{
	width: 150px;
	border-bottom: 1px solid white;
}
#pn_search:focus{
	width: 150px;
	color: white;
	border-bottom: 1px solid #0698FF;
}
#dropdown{
	display: none;
}
#contact_parallax{
	background-image: url(../images/Work3.JPG);
}
.contact_content{
	position: relative;
	width: 100%;
	height: auto;
	min-height: 500px;
	display: flex;
	flex-direction: row;
}
.cc_content{
	position: relative;
	display: flex;
	width: 50%;
	height: 500px;
}
#c_info{
	position: relative;
	display: flex;
	background-color: white;
	text-align: center;
}
.contact_info_container{
	display: flex;
	flex-direction: column;
	margin: auto;
	height: 400px;
	width: 500px;
}
.contact_info_container img{
	margin: auto;
	flex: 0 1 auto;
	height: 200px;
	width: 200px;
}
.c_info_container{
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.c_info_container h5{
	margin: auto;
	font-size: 15px;
	font-weight: 300;
}
footer{
	width: 100%;
	height: 60px;
	position: relative;
	display: flex;
	background-color: black;
}
footer h5{
	padding: 0;
	margin: auto;
	text-align: center;
	color: white;
	font-weight: 300;
}

/* responsive breakpoints*/
@media only screen
and (max-width: 489px){
	#residential, #commercial, #all, #search{
		display: none;
	}
	#dropdown{
		display: block;
		width: 44px;
	}
	.pd_menu{
		height: 0;
		width: 100%;
		overflow: hidden;
		position: absolute;
		top: 60px;
		left: 0;
		background-color: black;
	}
	#pn_dropdown{
		display: inline-block;
		padding: 4.5px;
	}
	#dropdown:hover .fa-bars{
		color: #0698FF;
	}
	#dropdown:hover .pd_menu{
		transition: .5s;
		height: 188px;
	}
	#dropdown:not(hover) .pd_menu{
		transition: .5s;
		height: 0;
	}
	.pndm_nav{
		margin: 0;
		padding: 0;
	}
	.pnd_nav_item{
		padding: 12px 0px 12px 16px;
	}
	#pn_search_button:focus + #pn_search{
		width: 87%;
	}
	#pn_search:focus{
		width: 86%;
	}
}

@media only screen 
and (max-width: 500px){
	.about_footer{
		flex-direction: column;
	}
	.af_box{
		width: 100%;
	}
}

@media only screen 
and (max-width: 700px){
	.contact_content{
		flex-direction: column;
	}
	.cc_content{
		width: 100%;
	}
}

/*.tooltip{
	position: relative;
	display: inline-block;
	margin: 20px;
}
.tooltip .tooltiptext{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color:#fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 7px;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
}
.tooltip .tooltiptext::after{
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
}*/

/*77760*/
