html{
	background-image: url(../images/pool-min.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
body{
	padding: 0;
	margin: 0;
	font-family: Helvetica,Arial;
}

/*----- Navigation -----*/
.navigation{
	position: fixed;
	margin: auto;
	padding: 0;
	overflow: visible;
	list-style: none;
	text-align: center;
	width: 100%;
	z-index: 3;

}
.build{
	/*color: #0698FF;*/
	color: white;
}
.logo a:hover{
	transition: .25s;
}

/* for desktop  */
/* default */
.nav_item{
	float: right;
}
.nav_item .nav{
	display: inline-block;
	text-decoration: none;
	padding: 14px 13px;
	font-family: Helvetica,Arial;
	color: white;
}
.nav_item .nav:hover{
	transition: .25s;
	transform: scale(1.2,1.2);
	opacity: 1;
}
.bars{
	display: none;
}
/*--- after curtain (landscape) ---*/
.about{
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0;
}
.about_nav{
	text-align: center;
	position: relative;
	padding: 0;
	margin: 0;
	top: 68px;
}
.about_nav_item{
	display: inline-block;
}
.about_nav_item .about_link{
	display: inline-block;
	color: white;
	border:none;
	background-color: transparent;
	font-size: 20px;
	padding: 0 20px;
	text-decoration: none;
}
.about_nav_item .about_link:hover, .about_nav_item .about_link:focus{
	transition: .25s; 
	transform: scale(1.15,1.15);
}
.about_nav_item .about_link:focus{
	transition: .25s;
	color: #0698FF;
	outline: 0;
}
.about_nav_item .about_link:not(hover), .about_nav_item .about_link:not(focus){
	transition: .25s; 
	transform: scale(1,1);
	color: white;
}
.about_nav_item::after{
	position: absolute;
	content: " ";
	border-style: solid;
	border-color: transparent transparent white transparent;
	border-width: 10px;
	top: 16px;
}
#about_link_who::after{
	margin-left: -10px;
}
#about_link_what::after{
	margin-left: -50px;
	display: none;
}
#about_link_projects::after{
	margin-left: -66px;
	display: none;
}
.about_content{
	position: absolute;
	display: inline;
	width: 97vw;
	height: 73vh;
	margin: auto;
	top: 35px; 
	left: 0;
	right: 0;
	background-color: white;
	border-radius: 25px;
}
.about_left{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}
.about_img{
	position: relative;
	height: 45vh;
	width: 45vh;
	border-radius: 100%;
	top: 22%;
	display: block;
	margin: auto;
}
.about_img:hover{
	transition: .25s;
	transform: scale(1.2,1.2);
}
.about_img:not(hover){
	transition: .25s;
	transform: scale(1,1);
}
.about_right{
	float: right;
	overflow: scroll;
	position: relative;
	width: 50%;
	line-height: 550px;
	height: 100%;
	background-color: lightgrey;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}
.about_right p{
	line-height: 1.5;
	vertical-align: middle;
	display: inline-block;
	text-align: justify;
	margin: 20px;
	padding: 30px;
}

/* for or vertical desktop */
@media only screen 
and (min-width: 384.5px)
and (orientation:portrait){
	.nav_item{
		float: right;
	}
	.nav_item .nav{
		display: inline-block;
		text-decoration: none;
		padding: 14px 13px;
		font-family: Helvetica,Arial;
		color: white;
		opacity: .8;
	}
	.bars{
		display: block;
	}
	.nav_item .nav:hover, .bars:hover .barbuttn{
		transition: .25s;
		transform: scale(1.2,1.2);
		opacity: 1;
	}
	.dropdown{
		display: none;
		position: absolute;
		right: 0;
		width: 100px;
		z-index: 1;
	}
	.dropdown a{
		color:white;
		padding: 14px 10px 14px 14px;
		text-decoration: none;
		display: block;
		text-align: right;
	}
	.dropdown a:hover{
		transition: .25s;
		transform: translateX(-6px) scale(1.1,1.1);
		opacity: 1;
	}
	.bars:hover .dropdown{
		transition: .5s;
		display: block;
	}
	#home, #about, #contact{
		display: none;
	}

	/*--- after curtain (portrait) ---*/
	.about{
		position: relative;
		width: 100%;
		height: 100vh;
		margin: 0;
	}
	.about_nav{
		text-align: center;
		position: relative;
		padding: 0;
		margin: 0;
		top: 68px;
	}
	.about_nav_item{
		display: inline-block;
	}
	.about_nav_item .about_link{
		display: inline-block;
		color: white;
		border:none;
		background-color: transparent;
		font-size: 20px;
		padding: 0 20px;
		text-decoration: none;
	}
	.about_nav_item .about_link:hover, .about_nav_item .about_link:focus{
		transition: .25s; 
		transform: scale(1.15,1.15);
	}
	.about_nav_item .about_link:focus{
		transition: .25s;
		color: #0698FF;
		outline: 0;
	}
	.about_nav_item .about_link:not(hover), .about_nav_item .about_link:not(focus){
		transition: .25s; 
		transform: scale(1,1);
		color: white;
	}
	.about_nav_item::after{
		position: absolute;
		content: " ";
		border-style: solid;
		border-color: transparent transparent white transparent;
		border-width: 10px;
		top: 16px;
	}
	#about_link_who::after{
		margin-left: -10px;
	}
	#about_link_what::after{
		margin-left: -50px;
		display: none;
	}
	#about_link_projects::after{
		margin-left: -66px;
		display: none;
	}
	.about_content{
		position: absolute;
		display: block;
		width: 97vw;
		height: 73vh;
		margin: auto;
		top: 35px; 
		left: 0;
		right: 0;
		background-color: white;
		border-radius: 25px;
	}
	.about_left{
		position: relative;
		width: 100%;
		height: 50%;
	}
	.about_img{
		position: absolute;
		height: 25vh;
		width: 25vh;
		border-radius: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		margin: auto auto;
		z-index: 3;
	}
	.about_img:hover{
		transition: .25s;
		transform: scale(1.1,1.1);
	}
	.about_img:not(hover){
		transition: .25s;
		transform: scale(1,1);
	}
	.about_right{
		position: relative;
		overflow: scroll;
		width: 100%;
		line-height: 270px;
		height: 50%;
		background-color: lightgrey;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}
	.about_right p{
		line-height: 1.5;
		vertical-align: middle;
		text-align: justify;
		display: inline-block;
		margin: 20px;
		padding: 8px;
	}
} 

/*----- index -----*/

.curtain{
	display: flex;
	width: 100%;
	height: 100vh;
	position: relative;
	box-sizing: border-box;
	/*box-shadow: 0 0 30px 1px #222 inset;*/
}
[class*="col-"]{
	-webkit-flex-direction: column;
	flex-direction: column;
}
.col-1 {
	width: 16.66%;
}
.col-title {
	width: 66.64%;
	text-align: center;
	font-size: 30px;
	align-items: center;
	margin: auto;
}
.title a{
	display: block;
	text-decoration: none;
	font-weight: 400;
	left:25%;
	padding: 0px 20px;
	color: white;
}
.tect{
	color: #0698FF;
	/*background-color: #0698FF;
	border:1px solid black;
	border-radius: 10px;*/
}
.col-9 {
	width: 16.66%;
}
.curtain_footer{
	position: absolute;
	bottom: 0;
	left: 49%;
	z-index: 1;
	padding: 2px;
	font-size: 30px;
}
.curtain_footer a{
	text-decoration: none;
	color: white;
}
.curtain_footer a:hover{
	transition: .25s;
}
.curtain_footer:hover{
	transition: .25s;
	transform: scale(1.3,1.3);
}

hr{
	display: block;
	margin-left: 36px;
	margin-right: 36px;
	border: 1px solid white;
}

/*----- about -----*/

/* will eventually delete this section (beginning)*/
.construction{
	position: absolute;
	height: 320px;
	width: 320px;
	padding: 0;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.construction h1{
	text-align: center;
	color: white;
	font-size: 50px;
	padding-top: 0px;
	padding-bottom: 25px;
	border-bottom: 1px solid white;
}
.construction .information{
	text-align: center;
	width: 320px;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}
/* will eventually delete this section (end) */

/*.tooltip{
	position: relative;
	display: inline-block;
	margin: 20px;
}
.tooltip .tooltiptext{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color:#fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 7px;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
}
.tooltip .tooltiptext::after{
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
}*/

/*77760*/
