html{
	background-color: white;
	min-width: 360px;
	margin: 0 auto;
}
body{
	padding: 0;
	margin: 0;
	font-family: Helvetica,Arial;
}
.home{
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 640px;
}
.navigation{
	position: relative;
	display: flex;
	flex: 0 1 60px;
	background-color: black;
}
.navbar{
	padding: 0;
	margin: auto;
	list-style: none;
}
.navbar .navitem{
	padding: 0 30px;
	display: inline-block;
	color: white;
}
.navbar .navitem a{
	color: white;
	text-decoration: none;
}
.navbar .navitem a:hover{
	transition: .25s;
	color: #0698FF;
}
.navbar .navitem a:not(hover){
	transition: .25s;
}
.curtain{
	display: flex;
	flex: 1 1 auto;
	box-sizing: border-box;
	/*box-shadow: 0 0 30px 1px #222 inset;*/
}
[class*="col-"]{
	-webkit-flex-direction: column;
	flex-direction: column;
}
.col-1 {
	width: 10%;
}
.col-title {
	width: 80%;
	text-align: center;
	align-items: center;
	margin: auto;
}
.title a{
	display: block;
	text-decoration: none;
	font-weight: 400;
	left: 25%;
	color: white;
	font-size: 80px;
}
.tect{
	color: #0698FF;
	/*background-color: #0698FF;
	border:1px solid black;
	border-radius: 10px;*/
}
.col-9 {
	width: 10%;
}
.build{
	/*color: #0698FF;*/
	color: black;
}

/*--- about section ---*/
.about{
	height: auto;
}
#about_picture_gallery{
	position: relative;
	display: flex;
	background-color: white;
	height: 500px;
	color: black;
	background-color: #0698FF;
}
#about_picture_gallery h1{
	padding: 0;
	margin: auto;
}
.about_content{
	margin: 0;
	padding: 20px;
	text-align: center;
}
.about_content_blurb{
	width: 800px;
	margin: auto;
	font-weight: 300;
}
#about_us{
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100vh;
}
#about_blurb{
	flex:0 1 auto;
	text-align: center;
	font-size: 30px;
}
#about_blurb h1{
	font-weight: 400;
	margin: 0;
}
/* responsive breakpoints*/
@media only screen 
and (max-width: 824px){
	.about_content_blurb{
		width: 100%;
		margin: auto;
		font-weight: 300;
	}
}

@media only screen 
and (min-width: 825px)
and (max-width: 1024px){
	.about_content_options{
		width: 100%;
		justify-content: space-around;
		margin: auto;
	}
}

/*.tooltip{
	position: relative;
	display: inline-block;
	margin: 20px;
}
.tooltip .tooltiptext{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color:#fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 7px;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
}
.tooltip .tooltiptext::after{
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
}*/

/*77760*/
