a {
	color: green;
	text-decoration:none;
}
a:hover {
	color:lightgreen;
}
ul {
	overflow: hidden;
}
li {
	float: left;
	padding: 10px;
	display: block;
}
#shrek {  
	padding: 20px;			
	border: 10px solid green;
}
#shrek-pictures {
	width: 50%;	
	margin: 10px auto;
}
#ShrekTheTable {
	width: 100%;
	border-spacing:10%;
}
#ShrekTheTable td {
	padding: 10px;
	text-align: center;
}
#ShrekTheTable tr:nth-child(even) {
	background-color: green;
}
#ShrekTheTable tr:nth-child(odd) {
	background-color: lightgreen;
}
#ShrekID{
	background-color: lightgreen;
	font-size: 14px;
	font-weight: bolder;
}