html{
	background-color: lightgrey;
}
body{
	padding: 0;
	margin: 0;
	font-family: Helvetica,Arial;
}

/*----- Navigation -----*/
.navigation{
	position: fixed;
	margin: auto;
	padding: 0;
	overflow: visible;
	list-style: none;
	text-align: center;
	width: 100%;
	z-index: 3;

}
.build{
	/*color: #0698FF;*/
	color: white;
}
.logo a:hover{
	transition: .25s;
}

/* for desktop or landscape */
@media only screen and (orientation: landscape){
	.nav_item{
		float: right;
	}
	.nav_item .nav{
		display: inline-block;
		text-decoration: none;
		padding: 14px 13px;
		font-family: Helvetica,Arial;
		color: white;
		opacity: .8;
	}
	.nav_item .nav:hover{
		transition: .25s;
		transform: scale(1.2,1.2);
		opacity: 1;
	}
	.bars{
		display: none;
	}

	/*--- after curtain (landscape) ---*/
	.about{
		position: relative;
		width: 100%;
		height: 100vh;
		margin: 0;
	}
}

/* for mobile or vertical screens */
@media only screen and (orientation: portrait){
	.nav_item{
		float: right;
	}
	.nav_item .nav{
		display: inline-block;
		text-decoration: none;
		padding: 14px 13px;
		font-family: Helvetica,Arial;
		color: white;
		opacity: .8;
	}
	.nav_item .nav:hover, .bars:hover .barbuttn{
		transition: .25s;
		transform: scale(1.2,1.2);
		opacity: 1;
	}
	.dropdown{
		display: none;
		position: absolute;
		right:0;
		width: 100px;
		z-index: 1;
	}
	.dropdown a{
		color:white;
		padding: 14px 10px 14px 14px;
		text-decoration: none;
		display: block;
		text-align: right;
		opacity: .8;
	}
	.dropdown a:hover{
		transition: .25s;
		transform: translateX(-6px) scale(1.1,1.1);
		opacity: 1;
	}
	.bars:hover .dropdown{
		transition: .5s;
		display: block;
	}
	#home, #about, #contact{
		display: none;
	}

	/*--- after curtain (portrait) ---*/
	.about{
		position: relative;
		width: 100%;
		height: 100vh;
		margin: 0;
	}
} 

/*----- index -----*/

.curtain{
	display: flex;
	width: 100%;
	height: 100vh;
	position: relative;
	box-sizing: border-box;
	/*box-shadow: 0 0 30px 1px #222 inset;*/
	background-image: url(../images/pool-min.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
[class*="col-"]{
	-webkit-flex-direction: column;
	flex-direction: column;
}
.col-1 {
	width: 16.66%;
}
.col-title {
	width: 66.64%;
	text-align: center;
	font-size: 30px;
	align-items: center;
	margin: auto;
}
.title a{
	display: block;
	text-decoration: none;
	font-weight: 400;
	left:25%;
	padding: 0px 20px;
	color: white;
}
.tect2{
	color: #0698FF;
	/*background-color: #0698FF;
	border:1px solid black;
	border-radius: 10px;*/
}
.col-9 {
	width: 16.66%;
}
.curtain_footer{
	position: absolute;
	bottom: 0;
	left: 49%;
	z-index: 1;
	padding: 2px;
	font-size: 30px;
}
.curtain_footer a{
	text-decoration: none;
	color: white;
	opacity: .8;
}
.curtain_footer a:hover{
	transition: .25s;
	opacity: 1;
}
.curtain_footer:hover{
	transition: .25s;
	transform: scale(1.3,1.3);
}

/*----- about -----*/

.construction{
	position: absolute;
	height: 320px;
	width: 320px;
	padding: 0;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.construction h1{
	text-align: center;
	color: white;
	font-size: 50px;
	padding-top: 0px;
	padding-bottom: 25px;
	border-bottom: 1px solid white;
}
.construction .information{
	text-align: center;
	width: 320px;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}


.about_header{
	position: absolute;
	width: 100vw;
	top: 10px;
	text-align: center;
}
.about_nav{
	position: relative;
	padding: 0;
	margin: 0;
	top: 75px;
	text-align: center;
}
.about_nav_item{
	display: inline-block;
}
.about_nav_item .about_link{
	display: inline-block;
	color: white;
	font-size: 20px;
	padding: 0 20px;
	text-decoration: none;
}
.about_nav_item .about_link:hover{
	transition: .25s; 
	color: #0698FF;
	transform: scale(1.2,1.2);
}

/*.tooltip{
	position: relative;
	display: inline-block;
	margin: 20px;
}
.tooltip .tooltiptext{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color:#fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 7px;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
}
.tooltip .tooltiptext::after{
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
}*/

/*77760*/
